{{> head}}

{{> navbar}}
<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bruce Banner</h1>
        <p class="lead">Hulk es un personaje ficticio, que aparece en los cómics estadounidenses publicados por la editorial Marvel Comics. El personaje fue creado por los escritores Stan Lee y Jack Kirby siendo su primera aparición en The Incredible Hulk #1 publicado en mayo de 1962</p>
        <hr class="my-4">
        <img src="assets/img/hulk.jpg" class="img-fluid"/>
    </div>
</main>

{{> footer}}
